@import url("20-style.css");

/* Select all classes that start with 'col-' */
[class^="col-"] {
  float: left;
  padding: calc(1rem / 2);
}

/* Keep the individual width settings */
.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}
