@import url("22-style.css");

/* Style the footer-address class */
.footer-address {
  color: var(--text-color);
}

/* Style the social-link class */
.social-link {
  display: block;
}

/* Style the social-link class and its svg children */
.social-link svg {
  fill: var(--text-color);
}
