@import url("22-style.css");

/* Style the footer-address class */
.footer-address {
  color: var(--text-color);
}

/* Style the social-link class */
.social-link {
  display: block;
}

/* Style the svg children that are direct descendants of .social-link */
.social-link > svg {
  fill: var(--text-color);
}
