@import url("23-style.css");

/* Target card-title inside card-services */
.card-services .card-title {
  margin: 0;
}

/* Target anchor tags inside card-services */
.card-services a {
  display: block;
  padding: calc(var(--root-font-size) * 2); /* or 2rem if root font size isn’t defined */
  background-color: var(--color-light-grey);
}

/* Target the hover state of anchors inside card-services */
.card-services a:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  text-decoration: none;
}
