@import url("25-style.css");

/* Style the testimonial card */
.card-testimonial {
  text-align: center;
}

/* Target card-avatar inside card-testimonial */
.card-testimonial .card-avatar {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

/* Target cite inside card-quote inside card-testimonial */
.card-testimonial .card-quote cite {
  display: block;
  padding-top: 1rem;
  color: var(--color-primary);
}
